<% extends "base.html" %>
<% block title %}Download Results<% endblock %>
<% block nav_download %>active<% endblock %>

<% block content %>
<div class="download-container">
    <h2>Download Extracted Documents</h2>
    
    <div id="download-summary" class="summary-panel">
        <!-- Populated by JavaScript -->
    </div>
    
    <div class="download-options">
        <h3>Individual Pages</h3>
        <ul id="page-list" class="page-list">
            <!-- Populated by JavaScript -->
        </ul>
        
        <h3>Full Document</h3>
        <a id="download-doc-link" href="#" class="btn btn-primary">Download Document</a>
        
        <h3>Archive</h3>
        <a id="download-zip-link" href="#" class="btn btn-secondary">Download Zip Archive</a>
    </div>
</div>
<% endblock %>